<html lang="en"><head><meta charset="UTF-8">
    <title>创建订单</title>
    <link rel="stylesheet" href="../styles/common.css">
    <link rel="stylesheet" href="../styles/page-account.css">
    <link rel="icon" href="favicon.ico">
</head>

<body>
<div class="register py-container ">
    <!--head-->
    <div class="logoArea">
        <a href="home.html" class="logo"></a>
    </div>
    <!--register-->
    <div class="registerArea">

        <form class="sui-form form-horizontal" action="/task/createTask" method="post">
            <!--        <div class="info">-->

            <!--                <div class="control-group">-->

            <div>
                <textarea cols="183" rows="10" maxlength="200" name="comment" placeholder="订单要求"></textarea>
            </div>

            <!--                </div>-->
            <!--                <div class="control-group">-->
            <!--                    <label class="control-label" >昵称：</label>-->
            <!--                    <div class="controls">-->
            <!--                        <input type="text" name="name" class="input-xfat input-xlarge" placeholder="昵称">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="control-group">-->
            <!--                    <label class="control-label">登录密码：</label>-->
            <!--                    <div class="controls">-->
            <!--                        <input type="password" name="pwd" class="input-xfat input-xlarge" placeholder="设置登录密码">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="control-group">-->
            <!--                    <label class="control-label">确认密码：</label>-->
            <!--                    <div class="controls">-->
            <!--                        <input type="password" name="pwd_check" class="input-xfat input-xlarge" placeholder="再次确认密码">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <legen>-->
            <!--                    <div class="control-group">-->
            <!--                        <label class="control-label">性别：</label>-->
            <!--                        <div class="controls">-->
            <!--                            <input type="radio" name="gender" class="input-xfat input-xlarge" value="男">-->
            <!--                            <label for="dewey">男</label>-->
            <!--                            <input type="radio" name="gender" class="input-xfat input-xlarge" value="女">-->
            <!--                            <label for="dewey">女</label>-->
            <!--                        </div>-->
            <!--                    </div>-->
            <!--                </legen>-->
            <div class="control-group">
                <span class="control-label">&nbsp;</span>
                <label class="controls">
                    <input name="m1" type="checkbox" checked="">
                    <span>同意协议并注册《家教共享协议》</span>
                </label>
            </div>
            <div class="control-group">
                <span class="control-label"></span>
                <div class="controls btn-reg">
                    <button class="sui-btn btn-block btn-xlarge btn-danger" type="submit">创建订单</button>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
        <!--        </div>-->
    </div>
    <!--foot-->
    <div class="py-container copyright">
        <ul>
            <li><a href="#">关于我们</a></li>
            <li><a href="#">联系我们</a></li>
            <li><a href="#">联系客服</a></li>
            <li><a href="#">商家入驻</a></li>
            <li><a href="#">营销中心</a></li>
            <li><a href="#">手机品优购</a></li>
            <li><a href="#">销售联盟</a></li>
            <li><a href="#">品优购社区</a></li>
            <li><a href="#">品优购公益</a></li>
            <li><a href="#">English Site</a></li>
            <li><a href="#">Contact U</a></li>
        </ul>

    </div>
</div>


</body></html>