<html><head>
    <meta charset="utf-8">
    <title>品优购 - 优质！优质！</title>
    <link rel="stylesheet" href="../static/styles/common.css">
    <link rel="stylesheet" href="../static/styles/page-cart.css">
    <link rel="shortcut icon" href="../static/fonts/favicon.ico" type="image/x-icon">
</head>

<body>
<!--页面顶部-->
<div id="nav-bottom">
    <!--顶部-->
    <div class="nav-top">


        <!--头部-->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <div class="yui3-u Left logoArea">
                        <a class="logo-bd" title="品优购" href="home.html"></a>
                    </div>
                    <div class="yui3-u Center searchArea">
                        <div class="search">
                            <form action="" class="sui-form form-inline">
                                <div class="input-append">
                                    <input type="text" id="autocomplete" class="input-error input-xxlarge">
                                    <button class="sui-btn btn-xlarge btn-danger" type="button">搜索</button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="py-container">
    <div class="allgoods">
        <h4>全部商品
            <span>11</span>
        </h4>

        <div class="cart-main">
            <div class="cart-th clearfix">
                <div>
                    <input type="checkbox">全选</div>
                <div class="">商品</div>
                <div class="">单价（元）</div>
                <div class="">数量</div>
                <div class="">小计（元）</div>
                <div class="">操作</div>
            </div>

            <div class="cart-item-list">
                <div class="cart-body">
                    <div class="cart-list">
                        <ul class="goods-list yui3-g">
                            <li class="yui3-u-3-8">
                                <div class="good-item">
                                    <div class="item-img">
                                        <img src="../static/uploads/mobile.png">
                                    </div>
                                    <div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
                                </div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span>颜色: 银色</span>
                                <br>
                                <span>处理器: Core I5</span>
                                <br>
                                <span>内存: 8GB</span>
                                <br>
                                <span>尺寸: 13.3英寸</span>
                                <br>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="price">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8">
                                <div class="clearfix">
                                    <a href="#" class="increment mins">-</a>
                                    <input autocomplete="off" type="text" value="1" minnum="1" class="itxt">
                                    <a href="#" class="increment plus">+</a>
                                </div>
                                <div class="youhuo">有货</div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="sum">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8">
                                <div>
                                    <a href="#none">删除</a>
                                </div>
                                <div>移到我的关注</div>
                            </li>
                        </ul>
                        <ul class="goods-list yui3-g">
                            <li class="yui3-u-1-2 huangou-li">
                                <div class="good-item">
                                    <div class="huangou">
                                        <span>换购</span> 活动商品购满2888.00元，即可加价换购商品1件 &gt;
                                        <span class="huangou-product">查看换购品</span>去凑单 &gt;
                                    </div>
                                    <div class="item-img ">
                                        <img src="../static/uploads/mobile.png">
                                    </div>
                                    <div class="item-msg huangou-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
                                    <div class="fl huangou-color">

                                        <span>颜色: 银色</span>
                                        <br>
                                        <span>处理器: Core I5</span>
                                        <br>
                                        <span>内存: 8GB</span>
                                        <br>
                                        <span>尺寸: 13.3英寸</span>
                                        <br>
                                    </div>
                                    <div class="gift">
                                        <ul>
                                            <li>[赠品]圣迪威（Sendio）MacBook13.3寸屏幕保... &nbsp;X1</li>
                                            <li>[赠品]圣迪威（Sendio）MacBook13.3清洁套装... &nbsp;X1</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>

                            <li class="yui3-u-1-8">
                                <span class="price huangou-price">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8">
                                <div class="clearfix">
                                    <a href="#" class="increment mins">-</a>
                                    <input autocomplete="off" type="text" value="1" minnum="1" class="itxt">
                                    <a href="#" class="increment plus">+</a>
                                </div>
                                <div class="youhuo">有货</div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="sum">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8 huangou-del">
                                <div>
                                    <a href="#none">删除</a>
                                </div>
                                <div>移到我的关注</div>
                            </li>
                        </ul>
                        <ul class="goods-list active yui3-g">
                            <li class="yui3-u-3-8 pr">
                                <!-- <div class="" -->
                                <input type="checkbox" class="good-checkbox">
                                <!-- </div> -->
                                <div class="good-item">
                                    <div class="item-img">
                                        <img src="../static/uploads/mobile.png">
                                    </div>
                                    <div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
                                </div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span>颜色: 银色</span>
                                <br>
                                <span>处理器: Core I5</span>
                                <br>
                                <span>内存: 8GB</span>
                                <br>
                                <span>尺寸: 13.3英寸</span>
                                <br>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="price">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8">
                                <div class="clearfix">
                                    <a href="#" class="increment mins">-</a>
                                    <input autocomplete="off" type="text" value="1" minnum="1" class="itxt">
                                    <a href="#" class="increment plus">+</a>
                                </div>
                                <div class="youhuo">有货</div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="sum">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8">
                                <div>
                                    <a href="#none">删除</a>
                                </div>
                                <div>移到我的关注</div>
                            </li>
                        </ul>
                        <ul class="goods-list yui3-g">
                            <li class="yui3-u-3-8">
                                <div class="good-item">
                                    <div class="item-img">
                                        <img src="../static/uploads/mobile.png">
                                    </div>
                                    <div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
                                </div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span>颜色: 银色</span>
                                <br>
                                <span>处理器: Core I5</span>
                                <br>
                                <span>内存: 8GB</span>
                                <br>
                                <span>尺寸: 13.3英寸</span>
                                <br>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="price">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8">
                                <div class="clearfix">
                                    <a href="#" class="increment mins">-</a>
                                    <input autocomplete="off" type="text" value="1" minnum="1" class="itxt">
                                    <a href="#" class="increment plus">+</a>
                                </div>
                                <div class="youhuo">有货</div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="sum">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8">
                                <div>
                                    <a href="#none">删除</a>
                                </div>
                                <div>移到我的关注</div>
                            </li>
                        </ul>
                        <ul class="goods-list yui3-g">
                            <li class="yui3-u-3-8">
                                <div class="good-item">
                                    <div class="item-img">
                                        <img src="../static/uploads/mobile.png">
                                    </div>
                                    <div class="item-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
                                </div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span>颜色: 银色</span>
                                <br>
                                <span>处理器: Core I5</span>
                                <br>
                                <span>内存: 8GB</span>
                                <br>
                                <span>尺寸: 13.3英寸</span>
                                <br>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="price">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8">
                                <div class="clearfix">
                                    <a href="#" class="increment mins">-</a>
                                    <input autocomplete="off" type="text" value="1" minnum="1" class="itxt">
                                    <a href="#" class="increment plus">+</a>
                                </div>
                                <div class="youhuo">有货</div>
                            </li>
                            <li class="yui3-u-1-8">
                                <span class="sum">8848.00</span>
                            </li>
                            <li class="yui3-u-1-8">
                                <div>
                                    <a href="#none">删除</a>
                                </div>
                                <div>移到我的关注</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cart-title clearfix">
                <h5 class="fl">神州数码专营</h5>
            </div>
        </div>
        <div class="cart-item-list">
            <div class="cart-body">
                <div class="cart-list">
                    <ul class="goods-list yui3-g">
                        <li class="yui3-u-1-2 huangou-li">
                            <div class="good-item">
                                <div class="huangou">
                                    <span>换购</span> 活动商品购满2888.00元，即可加价换购商品1件 &gt;
                                    <span class="huangou-product">查看换购品</span>去凑单 &gt;
                                </div>
                                <div class="item-img ">
                                    <img src="../static/uploads/mobile.png">
                                </div>
                                <div class="item-msg huangou-msg">Apple Macbook Air 13.3英寸笔记本电脑 银色（Corei5）处理器/8GB内存</div>
                                <div class="fl huangou-color">

                                    <span>颜色: 银色</span>
                                    <br>
                                    <span>处理器: Core I5</span>
                                    <br>
                                    <span>内存: 8GB</span>
                                    <br>
                                    <span>尺寸: 13.3英寸</span>
                                    <br>
                                </div>
                                <div class="gift">
                                    <ul>
                                        <li>[赠品]圣迪威（Sendio）MacBook13.3寸屏幕保... &nbsp;X1</li>
                                        <li>[赠品]圣迪威（Sendio）MacBook13.3清洁套装... &nbsp;X1</li>
                                    </ul>
                                </div>
                            </div>
                        </li>

                        <li class="yui3-u-1-8">
                            <span class="price huangou-price">8848.00</span>
                        </li>
                        <li class="yui3-u-1-8">
                            <div class="clearfix">
                                <a href="#" class="increment mins">-</a>
                                <input autocomplete="off" type="text" value="1" minnum="1" class="itxt">
                                <a href="#" class="increment plus">+</a>
                            </div>
                            <div class="youhuo">有货</div>
                        </li>
                        <li class="yui3-u-1-8">
                            <span class="sum">8848.00</span>
                        </li>
                        <li class="yui3-u-1-8 huangou-del">
                            <div>
                                <a href="#none">删除</a>
                            </div>
                            <div>移到我的关注</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-tool clearfix">

            <div class="money-box">
                <div class="sumprice">
                    <div class="sumprice-top">


                    </div>

                </div>
                <div class="sumbtn">
                    <a class="sum-btn" href="checkout.html">结算</a>
                </div>
            </div>
        </div>


    </div>
</div>

<!--页面底部-->
<div class="clearfix footer">
    <div class="py-container">
        <div class="footlink">


            <div class="Mod-copyright">

                <p>地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100</p>
                <p>京ICP备08001421号京公网安备110108007702</p>
            </div>
        </div>
    </div>
</div>
<!--页面底部END-->

<!--侧栏面板开始-->
<div class="J-global-toolbar">
    <div class="toolbar-wrap">
        <div class="toolbar">
            <div class="toolbar-panels">
                <!-- 购物车 -->
                <div class="toolbar-panel tbar-panel-cart" style="visibility: hidden;">
                    <h3 class="tbar-panel-header">
                        <a class="title" href="cart.html">
                            <i></i>
                            <em class="title">购物车</em>
                        </a>
                        <span class="close-panel"></span>
                    </h3>
                    <div class="tbar-panel-main">
                        <div class="tbar-panel-content">
                            <div class="tbar-tipbox hide">
                                <div class="tip-inner">
                                    <span class="tip-text">还没有登录，登录后商品将被保存</span>
                                    <a href="login.html" class="tip-btn">登录</a>
                                </div>
                            </div>
                            <!-- 列表 -->
                            <div class="tbar-cart-list"></div>
                        </div>
                    </div>
                    <!-- 小计 -->
                    <div class="tbar-panel-footer">
                        <div class="tbar-checkout">
                            <div class="jtc-number">
                                <strong>0</strong>件商品</div>
                            <div class="jtc-sum"> 共计：
                                <strong>¥0</strong>
                            </div>
                            <a class="jtc-btn" href="cart.html">去购物车结算</a>
                        </div>
                    </div>
                </div>
                <!-- 我的关注 -->
                <div class="toolbar-panel tbar-panel-follow" style="visibility: hidden;">
                    <h3 class="tbar-panel-header">
                        <a class="title" href="#">
                            <i></i>
                            <em class="title">我的关注</em>
                        </a>
                        <span class="close-panel"></span>
                    </h3>
                    <div class="tbar-panel-main">
                        <div class="tbar-panel-content"></div>
                    </div>
                </div>
                <!-- 我的足迹 -->
                <div class="toolbar-panel tbar-panel-history" style="visibility: hidden;">
                    <h3 class="tbar-panel-header">
                        <a class="title" href="#">
                            <i></i>
                            <em class="title">我的足迹</em>
                        </a>
                        <span class="close-panel"></span>
                    </h3>
                    <div class="tbar-panel-main">
                        <div class="tbar-panel-content">
                            <div class="jt-history-wrap">
                                <ul>
                                    <!-- <li class="jth-item">
                  <a class="img-wrap" href="item.html"><img src="#" height="100" width="100"></a>
                  <a class="add-cart-button" href="cart-add.html">加入购物车</a>
                  <span class="price">￥498.00</span>
                </li>
                <li class="jth-item">
                  <a class="img-wrap" href="item.html"><img src="#" height="100" width="100"></a>
                  <a class="add-cart-button" href="cart-add.html">加入购物车</a>
                  <span class="price">￥498.00</span>
                </li> -->
                                </ul>
                                <a class="history-bottom-more" href="#">查看更多足迹商品 &gt;&gt;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 侧栏按钮 -->
            <div class="toolbar-tabs">
                <div class="toolbar-tab tbar-tab-cart" data-title="购物车" data-target="cart">
                    <i class="tab-ico"></i>
                    <em class="tab-text"></em>
                    <span class="tab-sub">0</span>
                </div>
                <div class="toolbar-tab tbar-tab-follow" data-title="我的关注" data-target="follow">
                    <i class="tab-ico"></i>
                    <em class="tab-text"></em>
                </div>
                <div class="toolbar-tab tbar-tab-history" data-title="我的足迹" data-target="history">
                    <i class="tab-ico"></i>
                    <em class="tab-text"></em>
                </div>
            </div>
            <div class="toolbar-footer">
                <div class="toolbar-tab tbar-tab-top">
                    <a href="#">
                        <i class="tab-ico"></i>
                        <em class="footer-tab-text">顶部</em>
                    </a>
                </div>
                <div class="toolbar-tab tbar-tab-feedback">
                    <a href="#">
                        <i class="tab-ico"></i>
                        <em class="footer-tab-text">反馈</em>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--购物车单元格 模板-->



</body></html>